.footer{
    background-color: teal;
    margin-top: 50px;
}
.footer p {
    font-size: 45px;
    color: white;
}

.card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10%;
}

.card{
    margin-top: 20px;
}